
dataset/Protocol/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/dataset/
.ipynb_checkpoints/Test-checkpoint.ipynb
.ipynb_checkpoints/CMPE255-HumanActivityClassifier-checkpoint.ipynb
Test.ipynb
complete_dataset.csv
complete_dataset.csv.zip
CMPE255-HumanActivityClassifier-Copy1.ipynb
.ipynb_checkpoints/SVM Using PCA-checkpoint.ipynb
.ipynb_checkpoints/PickleDb Classifier Test-checkpoint.ipynb
.ipynb_checkpoints/CMPE255-HumanActivityClassifier-Copy1-checkpoint.ipynb
complete_dataset_1.csv
complete_dataset_2.csv
labels.csv
normalized_data.csv
normalized_data.csv.zip
customized_data/preprocessed_data_PCA.csv
customized_data/preprocessed_data_SVD.csv
PickleDb Classifier Test.ipynb
reduced_data_after_interpolation.csv
preprocessed_data_SVD.csv
preprocessed_data_PCA.csv
normalized_data_after_interpolation.csv
Data after PCA and SVD.zip
ActivityDatasets.zip
/ActivityDatasets
.ipynb_checkpoints/Random Forest-checkpoint.ipynb
.ipynb_checkpoints/Random Forest SVD-checkpoint.ipynb
.ipynb_checkpoints/Random Forest PCA-checkpoint.ipynb
.ipynb_checkpoints/deleteme-checkpoint.ipynb
.ipynb_checkpoints/Creating test files-checkpoint.ipynb
.ipynb_checkpoints/CMPE255-HumanClassifier_DimReduction-checkpoint.ipynb
.ipynb_checkpoints/SVM Using SVD-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
CSVs/test_activity.csv
CSVs/ActivityDatasets_without_normalization.zip
CSVs/ActivityDatasets_normalized.zip
ClassifiersPickleFIles/svm_rbf_model.pkl
ClassifiersPickleFIles/svm_model_SVD_98.pkl
ClassifiersPickleFIles/svm_model_PCA_98.pkl
ClassifiersPickleFIles/randomforest_svd.pkl
ClassifiersPickleFIles/randomforest_pca.pkl
ClassifiersPickleFIles/randomforest.pkl
svm_model_PCA_98.pkl
svm_model_SVD_98.pkl
svm_rbf_model.pkl
svm_model_PCA_98.pkl
svm_model_SVD_98.pkl
svm_rbf_model.pkl
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Creating test files-Copy1-checkpoint.ipynb
.ipynb_checkpoints/CMPE255-HumanActivityClassifier_Base_V2.0-checkpoint.ipynb
